* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}
/*Styling Scroll-Bar*/
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--color);
    border-radius: 10px;
    transition: .4s;
    
}
html::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-alternative);
    
}
html::-webkit-scrollbar-track{
    background-color: transparent;
    margin-block: .5em;
    border-radius: 10px;
}
/* Styling the body */
body {
    font-size: 10px;
    width: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

:root {
    --color: rgb(39, 158, 132);
    --color-secondary: rgba(30, 156, 139, 0.253);
    --color-alternative : rgb(33, 160, 143);
    --txt-color: grey;
    --bg-color: rgb(15, 22, 27);
    --bg-color-secondary: rgb(29, 37, 44);
    --height: 100%;
}

/* ---------------- The Home Page -------------*/
/*styling Navbar*/

header {
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    padding: 20px;

}

/*navbar menu*/
.navbar-container {
    position: fixed;
    z-index: 50;
    width: 100%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 30px;
    position: absolute;
    right: -50%;
    height: 100vh;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    opacity: 0;
    transition: .4s;
    z-index: 9;
    top: 0;
}

/*changing the span colors*/
span {
    color: var(--color);
}

/*styling tha bar button*/
.bar {
    position: absolute;
    right: 20px;
    z-index: 10;
    font-size: 18px;
    cursor: pointer;
}

/*styling the elements inside the menu element*/
.navbar ul li,
.navbar ul li a {
    list-style-type: none;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    transition: .4s;
    font-size: 12px;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: var(--color);
}

header .logo {
    font-size: 18px;
}

/*styling tha home page*/
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    background-color: var(--bg-color);
    height: 100%;
    padding: 40px 0px;
}

/*styling the first side*/
.homepage .first-side {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 40px;
    text-align: center;
    animation: firstside 1s linear;
}

/*styling tha color of paragraphs*/
.homepage .first-side .information {
    color: var(--txt-color);
    margin: 15px 0px;
}

/*styling the title */
.homepage .first-side h1 {
    color: var(--color);
}

/*styling the button*/
.first-side button {
    width: 120px;
    height: 45px;
    outline: none;
    border: none;
    margin-top: 10px;
    background-color: var(--color);
    border-radius: 5px;
    text-shadow: 0px 0px 1px black;
    transition: .4s;
    cursor: pointer;
}

.first-side button:hover {
    transform: scale(105%);
}

/* adding animation to the first side*/
@keyframes firstside {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*styling the social icons*/
.homepage .icons {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage .icons a {
    text-decoration: none;
    font-size: 18px;
    -webkit-clip-path: polygon(50% 0%, 100% 28%, 100% 75%, 50% 100%, 0 76%, 0 26%);
    clip-path: polygon(50% 0%, 100% 28%, 100% 75%, 50% 100%, 0 76%, 0 26%);
    background-color: var(--color);
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.homepage .icons a:hover {
    transform: translateY(-5px);
}

/*styling the second side*/
/*styling the picture*/
.homepage .profile-pic {

    width: 300px;
    height: auto;
    margin-top: 20px;
    
    animation: secondside 1s linear;
}

.homepage .circle {
    
    justify-self: center;
    display: flex;
    fill: var(--color);
    
    filter: drop-shadow(0 12px 12px rgba(36, 211, 188, 0.199));
}

.homepage .circle .My-image{
    width: 940px;
    transform: translateX(-240px);
    
}
/*adding animaiton to the picture*/
@keyframes secondside {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ---------------- The About Page -------------*/
/*Styling first side*/
.about-page {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-secondary);
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page .first-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
    font-size: 14px;
    position: relative;
    top: -50px;
    opacity: 0;

}

.about-page .first-side .information {
    color: var(--txt-color);
    margin: 20px 0px;
}

.second-side {
    margin-top: 50px;
    width: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: center;
    
}

.border-2 {
    width: 300px;
    height: auto;
    margin-top: 10%;
    position: relative;
    top: 50px;
    opacity: 0;
}
.border-2 path {

    stroke: var(--color);
    filter: drop-shadow(0 12px 12px rgba(36, 211, 188, 0.199));
}

@keyframes firstside2 {
    0% {
        opacity: 0;
        top: -20%;
    }

    100% {
        opacity: 1;
        top: 0%;
    }
}

@keyframes secondside2 {
    0% {
        opacity: 0;
        bottom: -20%;
    }

    100% {
        opacity: 1;
        bottom: 0%;
    }
}

/* ---------------- The Skills Page -------------*/
/*fisrt Side */
.skills-page {
    background-color: var(--bg-color);
    height: 100%;
    padding: 100px 0px;
}

.skills-page .first-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    
    text-align: center;
    font-size: 14px;
    position: relative;
    left: -100px;
    opacity: 0;
}

.skills-page .first-side .information {
    color: var(--txt-color);
    margin: 20px 0px;
}

.skills-page .second-side {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    position: relative;
    left: 100px;
    opacity: 0;
}

.skills-page .second-side ul li {
    list-style-type: none;
    margin: 10px;
}

/* ---------------- The Services Page -------------*/
/*styling the title*/
.services {
    background-color: var(--bg-color-secondary);
    height: 100%;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services .title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    right: -200px;
    opacity: 0;
}

.services .second-side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.services .box {
    width: 300px;
    background-color: var(--bg-color);
    height: 300px;
    text-align: center;
    padding: 40px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
    border: var(--bg-color);
    transition: border 0.5s,2s;
    right: 200px;
    opacity: 0;
}
.services .box1{
    transition-delay: 0.1s;
}
.services .box2{
    transition-delay: 0.2s;
}
.services .box3{
    transition-delay: 0.3s;
}
.services .box:hover {
    border: 1px solid var(--color);
}

.services .icon {
    font-size: 50px;
    color: var(--color);
    margin-bottom: 20px;
}

.services h3 {
    margin-bottom: 20px;
}

.services .information {
    color: var(--txt-color);
}

/* ---------------- The Projects Page -------------*/
/*the general page*/
.projects-page {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.projects-page .second-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.projects-page .second-side .first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-page .second-side .second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*The Projects Elements(each one of them)*/
.projects-page .project {
    width: 280px;
    height: 200px;
    background-size: cover;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    text-shadow: 0px 0px 2px black;
    margin-top: 40px;
    margin-bottom: 40px;

}

.projects-page .title {
    font-size: 16px;
}

/*styling the color and display of the elements inside the project box*/
.projects-page .project {
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-page .content {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    opacity: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s;

}

.projects-page article {
    height: 100%;
    position: relative;
    bottom: 70px;
}

.projects-page .content:hover {
    padding-top: 140px;
    opacity: 1;

}

/*getting rid of text-decoration*/
.projects-page .project .main-content a {
    text-decoration: none;
}

/*transition while hovering*/
.projects-page .project .main-content:hover {
    padding-top: 0%;
    background-color: var(--color-secondary);
    opacity: 1;
}

/*animation while scrolling */

/*changing the background of each element*/
.projects-page .p1 {
    background: url('images/project-img-1.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .p2 {
    background: url('images/project-img-2.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .p3 {
    background: url('images/project-img-3.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .p4 {
    background: url('images/project-img-4.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .p5 {
    background: url('images/project-img-5.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .p6 {
    background: url('images/project-img-6.jpg') center no-repeat;
    background-size: cover;
}

.projects-page .title{
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 2s;
}
.projects-page .first .project{
    position: relative;
    left: -200px;
    opacity: 0;
}
.projects-page .second .project{
    position: relative;
    left: 200px;
    opacity: 0;
}
/* ---------------- The Contact Page -------------*/
.contact-page {
    height: 100%;
    width: 100%;
    padding: 100px 0px;
    background-color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-page form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-page .title {
    font-size: 16px;
    position: relative;
    top: 100px;
    transition: 2s;
    opacity: 0;
}

input,
textarea {
    background-color: var(--bg-color);
    outline: none;
    border: none;
    resize: none;
    margin-top: 20px;
    padding-left: 10px;
    transform: scale(50%);
    transition: 2s;
    opacity: 0;
}

.contact-page input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    transition-delay: .2s;
}

.contact-page form .input-box {
    display: flex;
    flex-direction: column;
}

.contact-page textarea {
    width: 300px;
    border-radius: 5px;
    padding-top: 10px;
}

.contact-page button {
    width: 140px;
    height: 45px;
    outline: none;
    border: none;
    margin-top: 30px;
    background-color: var(--color);
    border-radius: 5px;
    text-shadow: 0px 0px 1px black;
    transition: .4s;
    cursor: pointer;
}

.contact-page button:hover {
    transform: scale(105%);
}

/* Top */
.top {
    position: fixed;
    z-index: 100;
    background-color: var(--bg-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    margin-left: 85%;
    border-radius: 5px;
}
/*styling the image*/
.profile-pic image{
    background-color:red;
}
